.crosswordRow {
    display: flex;

    // The styling for a cell that is capable of handling an input
    .inputCell {
        width: 60px;
        height: 60px;
        text-align: center;
        background-color: white;
        border: 1px solid #696969;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .hintAnnotation {
            text-align: left;
            padding-left: 4px;
            font-size: 12px;
            height: 18px;
        }

        .cellValue {
            font-size: 27px;
            font-weight: 400;
            vertical-align: bottom;
        }

        .cellValueIncorrect {
            font-size: 27px;
            font-weight: 400;
            vertical-align: bottom;
            color: red;
        }
    }

    .highlightedCell {
        background-color: #efcb02;
    }
    .highlightedClue {
        background-color: #a7d8ff;
    }
    // The styling for a cell that is not capable of handling an input
    .nonInputCell {
        background-color: black;
        pointer-events: none;
    }
}

.crosswordHint {
    display: flex;
    .hintNumber {
        width: 20px;
    }

    .hintText {
        padding-left: 5px;
    }

    .hintNumber.highlightPrimary {
        background-color: #efcb02;
    }

    .hintNumber.highlightSecondary {
        background-color: #efcb02;
    }

    .hintText.highlightPrimary {
        background-color: #efcb02;
    }

    .grayStyling {
        color: gray;
    }

    .blackStyling {
        color: black;
    }
}
